button.uiButton {
  --bg-opacity: 100%;

  &.plastic {
    @apply py-[1.1rem] px-[2rem] rounded-[.7rem];

    font-weight: 500;
    border: 1px solid #6971A266;
    background: linear-gradient(
      90deg,
      rgba(#161A31, var(--bg-opacity)) 3.4%,
      rgba(#06091F, var(--bg-opacity)) 100%
    );
  }

  &.social {
    // No empty!!!
  }
}
